<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="static/js/index.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="sweetalert2.all.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

</head>

<body style="background-color:rgba(210, 210, 210,0.5);">


    <nav class="navbar navbar-default navbar-fixed-top" style="height: 12%;">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-right:10%;">
                <a class="navbar-brand" href="#">
                    <img src="static/Images/logo3.png" alt="logo" style="width:160px;height: 80px; margin-top:-20px;margin-left:10%;">
                </a>
                <button id="navbarCollapseBtn" type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
            </div>
            <a id="logOutBtn" class="btn btn-default pull-right hidden-xs" onclick="logout()" style="margin-top:1.5%;">Logout</a>
        </div>
    </nav>

    <div class="container " style="margin-top:9%; position:center;;">

        <h2 class="text-center text-uppercase" style="padding-top:1%;background-color:#386ebe; color:white; height:50px;">Attendance Sheet</h2>
        <div class="container">
            <div class="row">
                <div class="form-group col-sm-6 pull-left">
                    <button class="btn btn-default" onclick="openCalender()">
                        <i class="fa fa-calendar"></i>
                    </button>
                    <div class="col-sm-5">
                        <b><input type="text" class="form-control" name='myDate'  id="datepicker-1" placeholder="Select Date"></b>
                    </div>
                </div>
            </div>
        </div>
      
        <div style="background-color:whitesmoke;" class="tableFixHead text-center">
            <table class="table table-responsive table-hover">
               <thead>
                    <tr class="label-success" style="background-color: #55a6e4b7;;">
                        <th style="text-align:center;">Roll #</th>
                        <th style="text-align:center;">Student Name</th>
                        <th style="text-align:center;">Present</th>
                        <th style="text-align:center;">View Details</th>
                    </tr>
                </thead>
                 <tbody id="mytbody">
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <button  type="button" href="#" onclick="redirectToHomepage()" class="btn btn-primary pull-right" type="" style="width:20%;color:white; border-radius:6px;" id="removeInvigilator">Go to Home page</button>
        </div>
       <div class="text-center">
            <button  class="btn btn-success pull-right" type="submit" style="width:20%;color:white; border-radius:6px;margin-right: 10px" onclick="updateAtt()" id="updateAtt">Update Attendance</button>
        </div>

    </div>

</body>

<script>
    function redirectToHomepage() {
        window.location.replace("Home");
    }
    var todayDate = new Date().toISOString().slice(0,10);
            $.getJSON('http://127.0.0.1:8000/Attendance/'+todayDate, function(data) {
                $.each(data, function(i,value){
                    var checkbox,rollno,button;

                 if(value['status'])
                 {
                    checkbox = '<input type="checkbox" name="att" value='+value["student"]["RollNo"]+' style="margin-top:3% ;cursor: pointer;" checked>';
                 }
                 else
                 {
                     checkbox = '<input type="checkbox" name="att" value='+value["student"]['RollNo']+' style="margin-top:3% ;cursor: pointer;">';

                 }

                 rollno= '<td>'+value['student']['RollNo']+'</td>'+'<td>'+value['student']['StdName']+'</td>';
                 button='<td><button class="viewBtn" onclick="viewClicked(this.value)"  value="'+value['student']['RollNo']+'" class="btn btn-secondary" style="background-color: lightsteelblue;"><i class="fa fa-eye fa-lg"></i></button></td>';
                 var row='<tr>'+rollno+'</td><td>'+checkbox+'</td>'+button+'</tr>';
                 $('#mytbody').append(row);
                });
        });




    $("#datepicker-1").datepicker({
    onSelect: function() {
        date=$('#datepicker-1').val()
        date=date.split("/")
        newDate=date[2]+'-'+date[0]+'-'+date[1]
         $('#mytbody').empty()
        $.getJSON('http://127.0.0.1:8000/Attendance/'+newDate, function(data) {
           $.each(data, function(i,value){
                    var checkbox,rollno,button;

                 if(value['status'])
                 {
                    checkbox = '<input type="checkbox" name="att" value='+value["student"]["RollNo"]+' style="margin-top:3% ;cursor: pointer;" checked>';
                 }
                 else
                 {
                     checkbox = '<input type="checkbox" name="att" value='+value["student"]['RollNo']+' style="margin-top:3% ;cursor: pointer;">';

                 }

                 rollno= '<td>'+value['student']['RollNo']+'</td>'+'<td>'+value['student']['StdName']+'</td>';
                 button='<td><button class="viewBtn" onclick="viewClicked(this.value)"  value="'+value['student']['RollNo']+'" class="btn btn-secondary" style="background-color: lightsteelblue;"><i class="fa fa-eye fa-lg"></i></button></td>';
                 var row='<tr>'+rollno+'</td><td>'+checkbox+'</td>'+button+'</tr>';
                 $('#mytbody').append(row);
                });
        });

    }
});

function updateAtt()
{
      var array = [];
            $.each($("input[name='att']:checked"), function(){
                array.push($(this).val());
            }); 
           var date=$('#datepicker-1').val()
        date=date.split("/")
        newDate=date[2]+'-'+date[0]+'-'+date[1]
         $.post("UpdateAttendance", {date: newDate,csrfmiddlewaretoken: '{{ csrf_token }}','att[]':array}, function(result){
         if (result=='Success')
         {
                Swal.fire({
                title: 'Success',
                text: ' Updated Successfully',
                icon: 'success',
               })

         }
         else{
              Swal.fire({
                title: 'Failure',
                text: ' Updation Failed',
                icon: 'error',
               })
         }
    });

}

function logout() {
        window.location.replace("SignIn");
    }


function viewClicked(value)
{
   
    $.getJSON('http://127.0.0.1:8000/viewAttendance/'+value, function(data) {

      var roll=   value
      var count=  data
        Swal.fire({
                title: "RollNo: "+roll,
                text:"Presents Marked this Month : " +count+"/30",
                icon: 'info',
               })

                 });
           
   
}

</script>


</html>