<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Stream</title>

</head>

<body style="background-color:rgba(210, 210, 210,0.5);">
    <nav class="navbar navbar-default navbar-fixed-top" style="height: 12%;">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-right:10%;">
                <a class="navbar-brand" href="#">
                    <img src="static/Images/logo3.png" alt="logo" style="width:160px;height: 80px; margin-top:-20px;margin-left:10%;">
                </a>
                <button id="navbarCollapseBtn" type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
            </div>
            <a id="logOutBtn" class="btn btn-default pull-right hidden-xs" onclick="logout()" style="margin-top:1.5%;">Logout</a>
        </div>
    </nav>

   

    <div class="container text-center" style="margin-top:8%;">
        <h2 class="text-center text-uppercase" style="padding-top:1%;background-color:#386ebe; color:white; height:50px;">Live Video Stream</h2>
        <iframe src="https://www.youtube.com/embed/tycnGEr0pkQ?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture "
            allowfullscreen style="width: 100%;height: 400px; "></iframe>
        <div class="text-center ">
            <button onclick="redirectToHomepage()" class="btn btn-primary pull-right " type="submit " style="margin-left:1%;width:20%;color:white; border-radius:6px; ">Go to Home Page</button>
        </div>
    </div>
<script>

    function redirectToHomepage() {
    window.location.replace("Home");
}
function logout() {
        window.location.replace("SignIn");
    }
</script>
</body>

</html>