<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Stream</title>
    <style>
        .toast{
            margin-top: 20px;
            box-shadow: 2px 6px 20px 5px #888888;
            background-color: #1E90FF;
            color: white;
        }
    </style>
</head>

<body style="">
    <nav class="navbar navbar-default navbar-fixed-top" style="height: 12%;">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-right:10%;">
                <a class="navbar-brand" href="#">
                    <img src="static/Images/logo3.png" alt="logo" style="width:160px;height: 80px; margin-top:-20px;margin-left:10%;">
                </a>
                <button id="navbarCollapseBtn" type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
            </div>
            <a id="logOutBtn" class="btn btn-default pull-right hidden-xs" onclick="logout()" style="margin-top:1.5%;">Logout</a>
        </div>
    </nav>




    <div id='marked' class="container-fluid"  style="display: flex; flex-direction: column;margin-top: 18vh;justify-content: space-between">


    </div>
<script>

    function redirectToHomepage() {
    window.location.replace("Home");
}
function logout() {
        window.location.replace("SignIn");
    }
</script>


<script>
var today = new Date();
var date = today.getDate()+'-'+(today.getMonth()+1)+'-'+today.getFullYear();
window.setInterval(function(){

        $('#marked').empty()
 $.getJSON('http://127.0.0.1:8000/MarkAttendance', function(data) {
           $.each(data, function(i, field){
            var status= field.name +" has been Marked presesnt for the date:  "+date;
           $('#marked').append("<div class=\"toast\" role=\"alert\" aria-live=\"assertive\" aria-atomic=\"true\">\n" +
               "  <div class=\"toast-header\">\n" +
               "    <img src=\"static/Images/std.png\" class=\"rounded mr-2\" alt=\"...\">\n" +
               "    <strong class=\"mr-auto\">"+field.name+"</strong>\n" +
               "    <small>"+new Date()+"</small>\n" +
               "    <button type=\"button\" class=\"ml-2 mb-1 close\" data-dismiss=\"toast\" aria-label=\"Close\">\n" +
               "      <span aria-hidden=\"true\">&times;</span>\n" +
               "    </button>\n" +
               "  </div>\n" +
               "  <div class=\"toast-body\">"+ status +"</div>\n" +
               "</div>")

      });
        });




}, 3000);

</script>



</body>

</html>
